/*.parrafoClass.parrafoClass2{

    background-color: rgb(78, 45, 222);


}
*/


.parrafoClass{

    background-color: aquamarine;




}

.parrafoClass2{

    background-color: rgb(1, 241, 161);

}








