body{
    font-family: Arial;
}

.form-select{
    width: 17%;
    float: left;
}   

.bi{
    right: 25%;
   
    position: relative;
}

.titulo1{
    position: relative;
    left: 20%;
}

.card1{
    position: relative;
    right: -10%;
    width: 90%;
}

.card2{
    position: relative;
    left: 0%;
    width: 90%;
}
